<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>


  <p>
    Splurty was built by <a target="_blank" href="http://linkedin.com/in/nicholasamartinez">Nick Martinez</a>. I'm an aspiring web developer who is on a mission to become a full stack software engineer and turning my ideas into reality.
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'nm-photo.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Nick Martinez</h2>
    <br />
    <p>
    Back in 2009, I built my own small business website mainly with HTML and CSS. After closing my business in 2012, I have been working in sales and marketing. Although I was having a good career in sales and marketing, I always wanted to get back to learning more about web development and eventually developing full stack skills.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />

</div>
